{% extends 'base.html.twig' %}

{% block title %}Liste des membres{% endblock %}

{% block body %}
    <div class="container">
        <h1>Members</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr>
                    <td>{{ member.firstName }}</td>
                    <td>{{ member.lastName }}</td>
                    <td>
                        <a href="{{ path('member_show', {slug: member.slug}) }}" class="btn btn-primary">
                            Details
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
